<div ng-controller="LogController" class="col-lg-offset-4">
  <p>Hello, this is my number 73 script in JavaScript with AngularJS and Bootstrap.</p>
  <br>
  <button ng-click="$log.log(message)" class="btn btn-primary">log</button>
  <button ng-click="$log.warn(message)" class="btn btn-warning">warn</button>
  <button ng-click="$log.info(message)" class="btn btn-info">info</button>
  <button ng-click="$log.error(message)" class="btn btn-danger">error</button>
  <button ng-click="$log.debug(message)" class="btn btn-default">debug</button>
</div>
